/* Barra de Menu Principal - Topo */

a {
   text-decoration: none !important;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
   color: #333333;
}

a.hover-verde:hover {color: #5cb85c;}
a.hover-vermelho:hover {color: #c9302c;}
a.hover-azul:hover {color: #337ab7;}
a.hover-laranja:hover {color: #ec971f;}

nav#barra-topo.navbar {
   margin-bottom: 0;
   border: 0;
   -webkit-box-shadow: 0 1px 3px 0 #3D3D3D;
   box-shadow: 0 1px 3px 0 #3D3D3D;
}
nav#barra-topo .row.header {
   background: #fff;
}
nav#barra-topo .row.header,
nav#barra-topo .row > div {margin-bottom: 0;}

nav#barra-topo.navbar #logotipo-sistema {
   height: 35px;
   margin-top: 13px;
}

.btn-header {
   height: 60px;
   line-height: 64px;
   padding-right: 35px !important;
}

.btn-header a {
   text-transform: uppercase;
   font-family: 'ArchivoNarrowBold';
   font-size: 14px;
   color: #fff;
}
.btn-header a .fa {
   margin-left: 5px;

   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}
.btn-header a:hover {
   color: #e87571;
}
.btn-header a:hover .fa {
   -ms-transform: rotate(42deg); /* IE 9 */
   -webkit-transform: rotate(42deg); /* Chrome, Safari, Opera */
   transform: rotate(42deg);
}

#page-wrapper {margin-top: 60px;}

.paddings-conteudo {padding-right: 20px;}
.pdd-left-0 {padding-left: 0 !important;}

/* Reset Border Radius */
.nav-tabs>li>a,
.form-control,
.btn {
   border-radius: 0 !important;
}

.margin-left-15 {margin-left: 15px;}
.margin-right-15 {margin-right: 15px;}

.margin-left-10 {margin-left: 10px;}
.margin-right-10 {margin-right: 10px;}

.no-margin-left {margin-left: 0 !important;}
.no-margin-right {margin-right: 0 !important;}
.no-padding-left {padding-left: 0 !important;}
.no-padding-right {padding-right: 0 !important;}

.text-center {text-align: center;}

.status-vermelho {color: #ed5565 !important;}
.status-azul {color: #5dc9e6 !important;}
.status-verde {color: #8cc152 !important;}


/* Home */
#barra-topo-mapa,
#barra-topo-mapa > div {
   margin-bottom: 0;
}
#mapa-google {
   background: #444;
   margin-bottom: -12px;
}

#filtros-mapa-home {
   margin-top: 3px;
}
#filtros-mapa-home label {
   color: #fff;
   font-weight: 100;
   font-size: 13px;
}
#filtros-mapa-home select {
   height: 30px;
}



h1.titulo-map-pin {
   font-size: 16px;
}
p.texto-map-pin {
   margin-top: 15px;
   font-size: 14px;
   font-weight: normal;
}
/* Home */



.form-upload {
   height: 30px;
   overflow: hidden;
   margin-bottom: 40px;
}
.form-upload #loading-import {
   position: absolute;
   margin-left: 190px;
   display: none;
}





/* Tabelas */
label {
   margin-bottom: 0;
   color: #333;
}

.fieldset-form {
   margin-bottom: 40px;
}

.fieldset-form .legend-form {
   text-transform: uppercase;
   font-family: 'ArchivoNarrowBold';
   font-size: 14px;
   color: #666;
}

thead {
   border-bottom:  2px solid #ccc;
}
thead > tr > td {
   font-family: 'ArchivoNarrowBold';
}

.coluna-acoes {
   width: 110px;
}
.coluna-acoes-3 {
   width: 100px;
}
.coluna-remover {
   width: 90px;
}

.btn-in-col {
   margin-top:20px;
}

tr td {
   vertical-align: middle !important;
}

tbody > tr:hover {
   background: #ddd !important;
}
tbody > tr:hover td {
   border-color: #f2f2f2;
}
/* Tabelas */


/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(169, 42, 37,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(169, 42, 37,0.4);
}
