@media print {
 .header,
 .row.header,
 #sidebar-wrapper{
	display: none !important;
 }
 #page-wrapper.active #sidebar-wrapper {
    left: 0px;
}
 #page-wrapper.active,
 #page-wrapper {
    padding-left: 0px !important;
   }
 .page-content{
	margin:0px;
 }
 .page-content .content{
	padding:20px;
 }
 .btn{
	display:none;
 }
 .row-fluid [class*="span"]{
	width:96%;
  }
 #main-menu{
	display:none;
 }
 #sidr{
	display:none;
 }

}
