@charset "utf-8";

/* CSS Document */

.strength_meter {
   position: absolute;
   left: 0px;
   top: 29px;
   width: 100%;
   height: 43px;
   z-index: -1;
   border-radius: 5px;
}
.button_strength {
   text-decoration: none;
   color: #FFF;
   font-size: 13px;
}
.strength_meter div {
   width: 0%;
   height: 43px;
   text-align: right;
   color: #000;
   line-height: 43px;
   -webkit-transition: all .3s ease-in-out;
   padding-right: 12px;
   border-radius: 5px;
}
.strength_meter div p {
   position: absolute;
   top: 48px;
   right: -11px;
   color: #FFF;
   font-size: 13px;
}
.veryweak {
   background-color: #FFA0A0;
   border-color: #F04040!important;
   width: 25%!important;
}
.weak {
   background-color: #FFB78C;
   border-color: #FF853C!important;
   width: 50%!important;
}
.medium {
   background-color: #FFEC8B;
   border-color: #FC0!important;
   width: 75%!important;
}
.strong {
   background-color: #C3FF88;
   border-color: #8DFF1C!important;
   width: 100%!important;
}
.percent {
   display: block;
   color: #fff;
   font-size: 12px;
   margin-left: 5px;
   height: auto;
   position: absolute;
   top: 2px;
}
.triangle_right {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 7.5px 10px 7.5px 0;
   border-color: transparent rgba(255, 255, 255, .3) transparent transparent;
   display: block;
   position: absolute;
   left: -10px;
   top: 10px;
}
.triangle_left {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 7.5px 0 7.5px 10px;
   border-color: transparent transparent transparent rgba(255, 255, 255, .3);
   display: block;
   position: absolute;
   right: -10px;
   top: 10px;
}
.tooltip p {
   color: white;
   margin-bottom: 10px;
   font-size: 14px;
}
.percentagebarinner {
   width: 0%;
   background: #FFF;
   height: 20px;
   background: #6EA5E1;
   position: relative;
}
.percentagebar {
   width: 100%;
   position: relative;
   background: #FFF;
   height: 20px;
}
